In [3]:
print('Meerasa Python notebook latest 2')

Meerasa Python notebook latest 2

Data Types

In [ ]:
n=('meerasa _ python')
for a in n:
  if a=="r": #eval(input("search:")): why not possible
    print("found",a)
    #break
    continue
  print(a)

In [ ]:
name = ""
password = ""

count = 0

flag = False

while flag == False or count == 0: 
  count += 1
  name=str(input("enter your name:"))
  password=str(input("enter your password:"))
  flag = (name == "meerasa" and password == "1980")
  flag1 = name == "meerasa"
  flag2 = password == "1980"
  print(flag)
  print(flag1)
  print(flag2)
  print(count)
print("hello, meerasa")

enter your name:meerasa
enter your password:1982
False
True
False
1
enter your name:meerasa
enter your password:1980
True
True
True
2
hello, meerasa

In [ ]:
num=[10,20,30,0,40,0,50]
for n in num:
 if n==0:
   print("infinity")
   continue  
 #print("100/{}={}".format(n,100/n))
 print(100/n)
else:
  print("completed")

10.0
5.0
3.3333333333333335
infinity
2.5
infinity
2.0
completed

In [ ]:
a=50
print(a)
del a
print(a)

In [ ]:
for i in range(100):
  if i%10 ==0:
    print(i)
else:
  pass

0
10
20
30
40
50
60
70
80
90

## Array

In [ ]:
arr_name = ["cat", "dog"]